-@title=nil
-@flourish=nil

%p.pages
  %span
    page:
    -(1..pages).each do |i|
      -klass = (i == page ? "current" : "")
      -url = (i<=1 ? "index.html" : "index#{i}.html")
      %a( class="#{klass}" href="#{url}" alt="index page #{i}" )== [#{i}]

-blog page do |artcl|
  .header_container
    %h2
      %a{ :href => artcl.url, :alt => artcl.title, :title => artcl.title }= artcl.title
      %span.date= artcl.date.strftime "%Y-%m-%d %H:%M"
  .abstract
    &= artcl.abstract
    .tags
      -artcl.tags.each do |tag|
        [
        %a( href="/tags.html" alt="tag #{tag}" )>= tag
        ]

%p.pages
  %span
    page:
    -(1..pages).each do |i|
      -klass = (i == page ? "current" : "")
      -url = (i<=1 ? "index.html" : "index#{i}.html")
      %a( class="#{klass}" href="#{url}" alt="index page #{i}" )== [#{i}]

